#txt p{
    font-size: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
#image-div1{
    text-align: center;
    background-color:black;
    color:white;
    /*border-radius: 200px;
    border: 2px solid black;*/
   margin-top: 3%;
}
#txt{
    width:100%;
    font-family:monospace;
    text-align:justify;
    margin-top: 0px;
}
