body{
    margin:auto;
    background-color:black;
}
#top-nav{
    text-align: center;
    width: 100%;
    height:50px;
    overflow:hidden;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    margin-bottom: 10px solid black;
}
#left{
    height:9%;
    width:50%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: black;
    border-bottom: 2px double goldenrod;
}
#right{
    width:50%;
    height:9%;
    text-align: center;
    position: fixed;
    top:0px;
    right:0px;
    background-color: black;
    border-bottom: 2px double goldenrod;
}
#top-btn{
    padding-left:10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: black;
    border:none;
    float: right;
    margin-top: 2%;
    margin-right: 6%;
    text-align: center;
    font-size: large;
    color: goldenrod;
}
#top-btn a{
    text-decoration: none;
    color:black;
    font-family: monospace;
    font-size: 14px;
}
#top-btn a:hover{
    color: goldenrod;
}

#top-btn a:active{
    color:white;
}
#left{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#left h1{
    font-family: monospace;
    margin-top: 10px;
    font-size:35px;
    margin-top: 1%;
    color: white;
}
#v{
    color:black;
    font-weight: bold;
    -webkit-text-stroke-color: goldenrod;
    -webkit-text-stroke-width: 1px;
}
#folio{
    color:black;
}

#txt{
    width:100%;
    font-family:monospace;
    font-size: 75px;
    text-align:center;
    padding-top: 50px;
}
#txt p{
    margin: 20px;
    margin-top: 50px;
    font-weight: bold;
    color: black;
    margin-top: 0px;
    -webkit-text-stroke-color: goldenrod;
    -webkit-text-stroke-width: 1.5px;
}
#container{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin-top: 0px;
}
#image-div{
    margin-top: 7%;
}
#image-div p{
    padding-top: 0px;
    margin-top: 0px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
    
    
}
#bar{
    
    display: block;
    float: right;
    position:fixed;
    right: 5%;
    top:10%;
}
#bar button a{
    text-decoration: none;
    color:black;
    font-family: monospace;
    font-size: large;
}
#bar button{
    border: none;
    display:inline-block;
    background-color: black;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50%;
    padding-bottom: 50%;
    width: 200%;
    border-bottom: 2px solid black;
    background-color: goldenrod;
}
img{
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10%;
    border:2px solid goldenrod
}

