body{
    background-image: url('abstract.png');
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
}
#prog{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: absolute;
    top:47%;
    left:5%;
    font-size: 400%;
}
#prog p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 10000%;
    color: goldenrod;
    letter-spacing: 1pc;
    font-family: monospace;
    font-weight: bolder;
    text-shadow:-0.2pc -0.1pc 0.2pc black;
}
#prog pre{
    font-size: 25%;
    word-break: break-all;
    white-space:pre-wrap;
    margin-bottom: 0px;
    padding-top: 0px;
    font-family:monospace;
    word-spacing: 0.5pc;
    letter-spacing: 0.1pc;
}
#top_nav{
    text-align: center;
    position: ;
}
#top_nav button{
    background-color: transparent;
    border-color: transparent;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    
}
#top_nav button a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 110%;
}
#proj-a{
    position: absolute;
    top:80%;
    left:5%;
    width:20%;
    background-color: transparent;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    border-color: white;
    color:white;
    font-family: monospace;
    height:5%;
    border-radius: 30px;
    text-shadow:-0.2pc -0.1pc 0.2pc black;
}

#proj-a a{
    text-decoration: none;
}
#name{
    color: white;
    font-family: monospace;
    font-size: 400%;
    position: absolute;
    left:5%;
    top:45%;
}
#ai{
    color: goldenrod;
    text-shadow:-0.2pc -0.1pc 0.2pc black;
}
/*Resume*/
#resume{
    position: absolute;
    top:110%;
    left:5%;
}
#resume h1{
    color:white;
    font-family: system-ui;
}
#resume h2{
    color: white;
    font-family: system-ui;
}