body{
    margin:auto;
    background-image:url('img2.jpg');
    background-position-y:40%;
    background-position-x: center;
    background-attachment:fixed;
    overflow-x: hidden;
    
}
#top-nav{
    height:1%;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    margin-bottom: 5%;
}
#left{
    height:10%;
    width:50%;
    position: fixed;
    top:0%;
    left:0%;
    margin-bottom: 1%;
    background-color: rgb(49, 47, 47);
    
}
#right{
    width:50%;
    height:10%;
    text-align: center;
    position: fixed;
    top:0%;
    right:0%;
    background-color:rgb(49, 47, 47);
    margin-bottom: 1%;
   
}
#top-btn{
    width:48px;
    height:48px;
    background-color:transparent;
    background-image: url("burger3.png");
    background-repeat: no-repeat;
    border:none;
    float: right;
    margin-top: 1%;
    margin-right: 15%;
    margin-bottom: 1%;
}


#left h1{
    font-family: monospace;
    margin-top: 10px;
    font-size:150%;
    margin-top: 1%;
    margin-left:1%;
}
#v{
    color: white;
    font-weight: bold;
    -webkit-text-stroke-color: goldenrod;
    -webkit-text-stroke-width: 1px;
}
#folio{
    color:black;
}

#txt{
    width:100%;
    font-family:monospace;
    
    font-weight: bolder;
    font-size: 500%;
    text-align:center;
    padding-top: 50px;
}
#txt p{
    margin: 20px;
    margin-top: 50px;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    margin-top: 0px;
    /*-webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;*/
}
#txt img{
    width:10%;
}

#image-div{
    margin-top: 7%;
    width:60%
}

#bar{
    
    display: block;
    float: right;
    position:fixed;
    right: 10%;
    top:10%;
}
#bar button a{
    text-decoration: none;
    color:black;
    font-family: monospace;
    font-size: large;
}
#bar button{
    border: none;
    display:inline-block;
    background-color: black;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50%;
    padding-bottom: 50%;
    width: 200%;
    border-bottom: 2px solid black;
    background-color: goldenrod;
    opacity: 20%;
}
#bar button:hover{
    opacity:100%
}


@media screen and (max-width:600px) {
    #top-nav{
        text-align: center;
        width: 100%;
        height:50px;
        overflow:hidden;
        flex-wrap: nowrap;
        flex-direction: column;
        display: flex;
        margin-bottom: 10px solid black;
    }
    #left{
        display:none

    }
    #right{
        width:100%;
        border-bottom: none;
    }
    #bar button{opacity:100%}
}