
#sections{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
#sections-edu{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#sections-exp{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#sections-skills{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
#sections-cont{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

#big{
    font-family: monospace;
    font-size: 200%;
    width:30%;
    text-align: center;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:purple;
}

#info{
    padding-top: 7%;
    font-family: monospace;
    font-size: 100px;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color:white;
    font-size: 180%;
    width:50%;
    /*border-bottom: 2px solid black;*/
    text-align: justify;
    padding-right: 10px;
    font-weight: bold;
}
#info a{
    text-decoration: none;
    color:goldenrod;
    word-break: break-all;
}
#percent{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 0px;
}
#mech{
    width:60%;
    background-color: white;
    color:black;
    text-align: center;
    font-family: monospace;
}
#admin{
    width:20%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#programming{
    width:20%;
    background-color: white;
    color:black;
    text-align: center;
    font-family: monospace;
}
#sections-exp #helper{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
#sections-skills #helper{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
#helper #info{
    width:100%;
    border:none;
    margin-bottom: px;
    padding-bottom: 0px;
}

#mech-mob{
    width:80%;
    background-color: white;
    color:black;
    text-align: center;
    font-family: monospace;
}
#admin-mob{
    width:20%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#programming-free{
    width:80%;
    background-color: white;
    color:black;
    text-align: center;
    font-family: monospace;
}
#graphics-free{
    width:20%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
    
}
#helper{
    
    padding-bottom: 10px;
}
#skill-per-auto{
    width:70%;
    text-align: center;
    background-color: goldenrod;
    padding-top: 2px;
    font-family: monospace;
}
#skill-per-py{
    width:90%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#skill-per-ml{
    width:80%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#skill-per-sql{
    width:80%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#skill-per-front{
    width:80%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#skill-per-back{
    width:70%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#skill-per-photo{
    width:90%;
    text-align: center;
    background-color: goldenrod;
    color:black;
    padding-top: 2px;
    font-family: monospace;
}
#percent-skills{
    background-color: white;
}
@media screen and (max-width:600px) 
{
    #sections{
        margin-top: 10%;
        width:100%;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
    #info{
        font-family: monospace;
        font-size: 180%;
        width:100%;
        /*border-bottom: 2px solid black;*/
        text-align: justify;
    }
    
    
}